@import "../Resource/CSS/Color.css";

.Game_window {
    overflow: hidden;
    position: relative;
    z-index: 100;
    text-align: center;
	margin-left: 20%;
    padding: 1rem;
	width: 60%;
    height: 70%;
	background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	color: var(--font-light); }
.Game_tittle {
    width: 100%;
    height: 3rem;
    background-color: #000; }
.Game_play {
    width: 480px;
    height: 480px;
    margin: auto;
    text-align: left;
    background-color: #333; }
.Game_start {
    height: 32px;
    width: 32px;
    margin-top: 224px;
    margin-left: 224px; }
.Game_option {
    overflow: hidden;
    width: 100%;
    height: 3rem; }
#Game_load {
    background-color: #fff;
    width: 0%;
    height: 1rem;
    transition: width 1s linear }

