:root {
	--test-font: #878EA6;
	--test-bg: #CDFFFE;

	--white: #FFFFFF;
	--black: #000000;
	--boxshadow-blue: #466886;
	--boxshadow-white: #8b8b8b;
	--font-light: #BCC7EF;
	--font-blue: #0066ff;

	--link: #0166d6;
	--link-hover: #0100d6;
	--input-border: #d8dee2;
	--input-border-foucs: #66afe9;
	--input-submit: #2ea44f;
	--input-submit-hover: #379D49;
	--bg-black: #0c162d;
	--bg-black-light: #1c233c;
	--bg-gray: #f6f8fa;
	--bg-red: #ff1a1a;
	--bg-border: #eaecef;
	--bt-bg-blue: #33518b;
	--bt-bg-hover-blue: #0055AA;

}

body {
	background-color: #070B21;
	background-image: url(../Image/svg/glow.svg);
	background-size: 180%;
	background-position-x: -31.25rem;
	background-position-y: -10rem; }
Header {
    width: 100%;
	margin:auto;
	height: 5rem;
	text-align: center;
    padding-top: 1rem;
	color: var(--font-light); }
Main {
    width: 100%; }
Footer {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--font); }

button {
    text-align: center; }

a {
	color: var(--font-light);
	text-decoration: none; }
a:hover {
	color: var(--white);
	text-decoration: none; }
a:active {
	color: var(--white);
	text-decoration: none; }
a:visited {
	color: var(--white);
	text-decoration: none; }

.Empty {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem; }






#Follow_left_admission {
    animation: trans 0.6s linear;
    animation-fill-mode: forwards; }
@keyframes trans {
    from {
        transform: translate(-200%);
    }

    to {
        transform: translate(0);
    } }

.Follow_left {
	position: fixed;
	height: 5rem;
	width: 12.5rem;
	max-width: 15%;
	background-color: var(--bg-black);
	color: var(--font-light);
	text-align: center;
	box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	overflow: hidden;
	transition: height 1s; }
.Follow_left:hover {
	height: 25rem; }
.Follow_left_logo {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-image: url(../Image/png/logo_64.png);
	margin: auto;
	overflow: hidden; }
.Follow_left_footer {
    position: absolute;
	width: 100%;
	bottom: 0;
    left: 0; }
.Yesterday {
	text-align: center; }
.Yesterday_num {
    color: var(--font-blue);
	text-align: center; }
.Before_yesterday {
	text-align: center; }
.Before_yesterday_num {
    color: var(--font-blue);
	text-align: center; 
	margin-bottom: 1rem; }



#Login_fail {
	display: block; }
#Login_success {
	display: none;
	margin-bottom: 7rem; }


.input_name {
	width: 80%;
	height: .7rem;
	padding: 5px 7px;
	border-radius: 7px;
	border: 1px solid var(--input-border);
	margin-top: .3rem; }
.input_name:focus {
	outline: none;
	box-shadow: var(--boxshadow-blue) 0px 0px 7px 5px; }
.input_submit {
	border: 1.4px solid var(--bt-bg-blue);
	box-shadow: 0px 0px 5px 2px var(--boxshadow-blue);
	background-color: var(--bg-black-light);
	color: var(--font-light);
	width: 5rem;
	border-radius: 5px;
	padding-bottom: 3px;
	text-align: center;
	margin: auto; }
.input_submit:hover {
	border-color: var(--input-border-force);
	outline: 0;
	box-shadow: 0 0px 5px 2px var(--white);
	cursor: pointer; }


.Card_list {
    text-align: center;
	margin-left: 20%;
    padding: 1rem;
	width: 60%;
	background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	color: var(--font-light); }



.Github_link {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light);
    margin-top: 1rem; }
.Github_svg {
    position: relative;
    top: 2px;
    fill: var(--white) }   
.CN_bei_an {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light); }