:root {
	--test-font: #878EA6;
	--test-bg: #CDFFFE;

	--white: #FFFFFF;
	--black: #000000;
	--boxshadow-blue: #466886;
	--boxshadow-white: #8b8b8b;
	--font-light: #BCC7EF;
    --font-dark: #627597;
	--font-blue: #0066ff;
    --font-green:#00CFC8;

	--link: #0166d6;
	--link-hover: #0100d6;
	--input-border: #d8dee2;
	--input-border-foucs: #66afe9;
	--input-submit: #2ea44f;
	--input-submit-hover: #379D49;
	--bg-black: #0c162d;
	--bg-black-light: #1c233c;
	--bg-gray: #f6f8fa;
	--bg-red: #ff1a1a;
	--bg-border: #eaecef;
	--bt-bg-blue: #33518b;
}

a:link,a:visited {
	color: var(--font-light);
	text-decoration: none; }
a:hover,a:active {
	color: var(--white);
	text-decoration: none; }

html,body {
    margin: 0%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	background-color: #040D21;
    background-image: url(../Image/svg/glow.svg);
	background-size: 200%;
	background-position-x: 45%;
	background-position-y: 45%; }
Header {
    width: 100%;
	margin:auto;
	height: 5rem;
    text-align: center;
	color: var(--font-light); }
Main {
    position: relative;
    width: 100%;
    height: 75%;
    margin: auto; }
Footer {
    width: 100%;
    height: 5rem;
    color: var(--font); }

input {
    width: 80%;
    padding: 5px 12px;
    border-radius: 7px;
    border: 1px solid #d8dee2;
    background-color: #F6F8F9;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

.input-error:before {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--border-error);
	position: absolute;
	top: -5px;
	left: 5px;
}
.input-error:before {
	background-color: var(--bg-error);
	border: 0.01875rem solid var(--border-error);
	height: 1.25rem;
	position: relative;
	margin-top: .1rem;
	border-radius: 0.25rem;
	font-weight: 400;
	font-family: "Segoe UI";
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: var(--font-error);
	padding: 0.0625rem 0.1875rem;
	visibility: hidden;
}
.input-error:after {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #FFEEF0;
	position: absolute;
	top: -4px;
	left: 5px;
}

.input-success:before {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--border-success);
	position: absolute;
	top: -5px;
	left: 5px;
}
.input-success {
	background-color: var(--bg-success);
	border: 0.01875rem solid var(--border-success);
	height: 1.25rem;
	position: relative;
	margin-top: .1rem;
	border-radius: 0.25rem;
	font-weight: 400;
	font-family: "Segoe UI";
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: var(--font-success);
	padding: 0.0625rem 0.1875rem;
	visibility: hidden;
}
.input-success:after {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--bg-success);
	position: absolute;
	top: -4px;
	left: 5px;
}

@keyframes animStar {
    from {transform:translateY(0)} 
    to {transform:translateY(-2000px)} }
@media(prefers-reduced-motion) {
    .bg-stars-1,.bg-stars-2,.bg-stars-3
    {animation:none} }
.bg-stars {
    position: relative;
    z-index: 10;
    flex: auto;
    box-shadow: solid; }
#bg-stars-1 {
    background: transparent;
    width: 1px;
    height: 1px;
    animation: animStar 100s linear infinite; }
#bg-stars-2 {
    background: transparent;
    width: 2px;
    height: 2px;
    animation: animStar 120s linear infinite; }
#bg-stars-3 {
    background: transparent;
    width: 3px;
    height: 3px;
    animation: animStar 150s linear infinite; }


    
.card-list {
    position: relative;
    z-index: 100 !important;
    text-align: center;
    overflow: hidden;
	margin-left: 20%;
    padding: 1rem;
	width: 60%;
    height: 0%;
    max-height: 90%;
	background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	color: var(--font-light);
    transition: height 1s; }

.card {
    margin: auto;
    width: 80%;
    height: 100%;
}
.title-email {
    text-align: left;
    padding: .3rem;
    background: #fff;
}
.title-password {
    text-align: left;
    padding: .3rem;
    background: #fff;
}
.title-username {
    text-align: left;
    padding: .3rem;
    background: #fff;
}
.title-verify {
    text-align: left;
    padding: .3rem;
    background: #fff;
}
.verify-left {
    background-color: #000;
    width: 40%;
    height: 100%;
}
.verify-right {
    background-color: #000;
    float: right;
    width: 40%;
    height: 100%;
}
.verify-code {
    width: 100%;
    height: 100%;

}



.Github_link {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light);
    margin-top: 1rem; }
.Github_svg {
    position: relative;
    top: 2px;
    fill: var(--white) }   
.CN_bei_an {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light); }
