:root {
	--test-font: #878EA6;
	--test-bg: #CDFFFE;

	--white: #FFFFFF;
	--black: #000000;
	--boxshadow-blue: #466886;
	--boxshadow-white: #8b8b8b;
	--font-light: #BCC7EF;
	--font-dark: #627597;
	--font-blue: #0066ff;
	--font-green: #00CFC8;

	--border-white: #d8dee2;
	--border-blue: #66afe9;
	--bg: #040D21;
	--bg-black: #0c162d;
	--bg-black-light: #1c233c;
	--bg-white: #f6f8fa;
	--bg-gray: #c7d1ca;
	--bg-red: #ff1a1a;
	--bg-blue: #0166d6;
	--bg-purple: #0100d6;
	--bg-green: #2ea44f;
	--bg-green-dark: #379D49;
	--bg-pink: #ea4aaa;
	--bg-border: #eaecef;
	--bt-bg-blue: #33518b;
	--bt-bg-hover-blue: #0055AA;
}