*
{
	box-sizing: border-box;
}
body
{
	font-family: sans-serif;
}
h1
{    	
	font-size: 24px;
	font-weight: 300;
	letter-spacing: -.5px;
}
form
{
	border: 1px solid #d8dee2;
	border-radius: 8px;
	background-color: #F0FEF0;
	padding: 20px;
	width: 350px;

}
label
{
	font-weight: 600;
	text-align: left;
}
input
{
	display: block;
	margin-bottom: 7px;
	font-size: 14px;
	width: 100%;
	padding: 5px 12px;
	border-radius: 7px;
	border: 1px solid #d8dee2;
	background-color: #E9EFFE;
	outline: none;
}
input[type="submit" ]
{
	background-color: #3BAA4D;
	border: 2px;
	border-radius: 4px;
	color: #FFFFFF;
	width: px;
}
input[type="submit"]:hover
{
	background-color: #379D49;
	
}
input:focus{
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow:  0 0px 5px 2px #BCC7EF;
    box-shadow:  0 0px 5px 2px #BCC7EF;
}
ul
{
	display: flex!important;
	list-style-type:none;
	justify-content: center;
	
}
li
{
	margin-right: 40px;
	text-align: center;
}
a
{
	text-decoration: none;
}
#Userinput
{
	display: block;
	margin-bottom: 7px;
	text-align: left;
	font-weight: 600;
	font-size: 14px;
	box-sizing: border-box;
}
#contact
{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
}

