:root {
	--test-font: #878EA6;
	--test-bg: #CDFFFE;

	--white: #FFFFFF;
	--black: #000000;
	--boxshadow-blue: #466886;
	--boxshadow-white: #8b8b8b;
	--font-light: #BCC7EF;
    --font-dark: #627597;
	--font-blue: #0066ff;
    --font-green:#00CFC8;

	--link: #0166d6;
	--link-hover: #0100d6;
	--input-border: #d8dee2;
	--input-border-foucs: #66afe9;
	--input-submit: #2ea44f;
	--input-submit-hover: #379D49;
	--bg-black: #0c162d;
	--bg-black-light: #1c233c;
	--bg-gray: #f6f8fa;
	--bg-red: #ff1a1a;
	--bg-border: #eaecef;
	--bt-bg-blue: #33518b;
	--bt-bg-hover-blue: #0055AA; }
.element::-webkit-scrollbar { width: 0 !important }



html,body {
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
	background-color: #040D21;
    background-image: url(Image/svg/glow.svg);
	background-size: 200%;
	background-position-x: 50%;
	background-position-y: 50%; }
Header {
    width: 100%;
	margin:auto;
	height: 5rem;
	text-align: center;
    padding-top: 1rem;
	color: var(--font-light); }
Footer {
    width: 100%;
    height: 5rem;
    color: var(--font); }
a:link,a:visited {
	color: var(--font-light);
	text-decoration: none; }
a:hover,a:active {
	color: var(--white);
	text-decoration: none; }

.Empty {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem; }

@keyframes animStar {
    from {transform:translateY(0)} 
    to {transform:translateY(-2000px)} }
@media(prefers-reduced-motion) {
    .bg-stars-1,.bg-stars-2,.bg-stars-3
    {animation:none} }
.bg-stars {
    flex: auto;
    position: relative;
    box-shadow: solid; }
#bg-stars-1 {
    background: transparent;
    width: 1px;
    height: 1px;
    animation: animStar 100s linear infinite; }
#bg-stars-2 {
    width: 2px;
    height: 2px;
    animation: animStar 120s linear infinite; }
#bg-stars-3 {
    width: 3px;
    height: 3px;
    animation: animStar 150s linear infinite; }


#Follow-left-admission {
    animation: trans 0.6s linear;
    animation-fill-mode: forwards; }

.Follow-left {
	position: fixed;
	height: 5rem;
	width: 12.5rem;
	max-width: 15%;
	background-color: var(--bg-black);
	color: var(--font-light);
	text-align: center;
	box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	overflow: hidden;
	transition: height 1s; }
.Follow-left-Login-fail {
    height: 70%;
	display: block; }
.Follow-left-Login-success {
    height: 70%;
	display: none; }

.Follow-left:hover {
	height: 25rem; }
.Follow-left-logo {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-image: url(Image/png/logo_64.png);
    background-repeat: no-repeat;
	margin: auto;
	overflow: hidden;
 }
.avatar-success {
    height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-image: url(Image/png/logo_64.png);
    background-repeat: no-repeat;
	margin: auto;
	overflow: hidden;
}

.Follow-left-footer {
    margin-top: 1rem;
	width: 100%;
    height: 10%; }
.Follow-left-today-num {
    color: var(--font-blue); }
.Follow-left-yesterday-num {
    color: var(--font-blue); }
    

.input-name {
	width: 80%;
	height: .7rem;
	padding: 5px 7px;
	border-radius: 7px;
	border: 1px solid var(--input-border);
	margin-top: .3rem; }
.input-name:focus {
	outline: none;
	box-shadow: var(--boxshadow-blue) 0px 0px 7px 5px; }
.input-submit {
	border: 1.4px solid var(--bt-bg-blue);
	box-shadow: 0px 0px 5px 2px var(--boxshadow-blue);
	background-color: var(--bg-black-light);
	color: var(--font-light);
	width: 5rem;
	border-radius: 5px;
	padding-bottom: 3px;
	text-align: center;
	margin: auto; }
.input-submit:hover {
	border-color: var(--input-border-force);
	outline: 0;
	box-shadow: 0 0px 5px 2px var(--white);
	cursor: pointer; }


.Card-list {
    text-align: center;
	margin-left: 20%;
    padding: 1rem;
	width: 60%;
	background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	color: var(--font-light); }
.Card {
    border: var(--boxshadow-white) solid 1px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: var(--boxshadow-white) 0px 0px 5px 2px;
	border-radius: 0.25rem;
    min-height: 6rem;
    width: 90%;
	max-width: 1000px; }
.Card-header {
    position:relative;
    box-sizing: border-box;
    padding: 0.8rem;
    width: 100%;
    height: 48px;
    text-align: left; }
.Card-image {
    position: absolute;
    border-radius: 10%;
    height: 32px;
    width: 32px;
    background-image: url(Image/png/Cat1_32.png);
    display: inline-block; }
.Card-tittle {
    margin-left: 40px;
    display: inline-block;
    text-align: top;
    font-size: large;
    font-weight: 600;
    line-height: 32px; }
.Card-share {
    float:right; }


.Card-main {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1.2rem 0;
    text-align: left; }


.Card-footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0.8rem;
    text-align: left;
    align-items: center; }
.Card-button {
    height: 28px;
    border: 0px solid;
	border-radius: 0.3125rem;
	color: var(--font);
    background-color: var(--bt-bg-blue); }
.Card-button:hover {
    cursor: pointer;
    background-color: var(--bt-bg-hover-blue); }
.Card-button:focus {
    cursor: pointer;
    background-color: var(--bt-bg-hover-blue); }
.Card-svg {
    position: relative;
    top: 2px;
    fill: var(--bg-gray) }
.Card-voteup {  
    float: left;
    display: inline;
    margin-right: 5px; }
.Card-font {
    display: inline;
    line-height: 2px;
    margin-right: 5px; }
.Card-voteup-nums {
    display: inline; }
.Card-votedown {
    float: left;
    margin-right: 10px; }
.Card-comment {
    float: left;
    margin-right: 10px; }
.Card-into {
    float: right; }


.Github-link {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light);
    margin-top: 1rem; }
.Github-svg {
    position: relative;
    top: 2px;
    fill: var(--white) }   
.CN-bei-an {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light); }

