:root {
	--test-font: #878EA6;
	--test-bg: #CDFFFE;

	--white: #FFFFFF;
	--black: #000000;
	--boxshadow-blue: #466886;
	--boxshadow-white: #8b8b8b;
	--font-light: #BCC7EF;
	--font-blue: #0066ff;

	--link: #0166d6;
	--link-hover: #0100d6;
	--input-border: #d8dee2;
	--input-border-foucs: #66afe9;
	--input-submit: #2ea44f;
	--input-submit-hover: #379D49;
	--bg-black: #0c162d;
	--bg-black-light: #1c233c;
	--bg-gray: #f6f8fa;
	--bg-red: #ff1a1a;
	--bg-border: #eaecef;
	--bt-bg-blue: #33518b;
	--bt-bg-hover-blue: #0055AA;

}

body {
    position: relative;
    min-width: 99%;
	background-color: #070B21;
	background-image: url(Image/svg/glow.svg);
	background-size: 180%;
	background-position-x: -31.25rem;
	background-position-y: -10rem; }

Header {
    width: 100%;
	margin:auto;
	height: 5rem;
	text-align: center;
    padding-top: 1rem;
	color: var(--font-light); }

Main {
    width: 100%;
    padding-bottom: 5rem; }

Footer {
    width: 100%;
    height: 3rem;
    position:absolute;
    bottom:0;
    color: var(--font); }

button {
    text-align: center;
}

a {
	color: var(--font-light);
	text-decoration: none; }
a:hover {
	color: var(--white);
	text-decoration: none; }
a:active {
	color: var(--white);
	text-decoration: none; }
a:visited {
	color: var(--white);
	text-decoration: none; }

.Empty {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem; }






#Follow_left_admission {
    animation: trans 0.6s linear;
    animation-fill-mode: forwards; }
@keyframes trans {
    from {
        transform: translate(-200%);
    }

    to {
        transform: translate(0);
    } }

.Follow_left {
	position: fixed;
	height: 5rem;
	width: 12.5rem;
	max-width: 15%;
	background-color: var(--bg-black);
	color: var(--font-light);
	text-align: center;
	box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	overflow: hidden;
	transition: height 1s; }
.Follow_left:hover {
	height: 25rem; }
.Follow_left_logo {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-image: url(Image/png/logo_64.png);
	margin: auto;
	overflow: hidden; }
.Follow_left_footer {
	margin-top: 2.5rem;
	width: 100%;
	bottom: 0%; }
.Yesterday {
	text-align: center; }
.Yesterday_num {
    color: var(--font-blue);
	text-align: center; }
.Before_yesterday {
	text-align: center; }
.Before_yesterday_num {
    color: var(--font-blue);
	text-align: center; 
	margin-bottom: 1rem; }



#Login_fail {
	display: block;
}
#Login_success {
	display: none;
	margin-bottom: 7rem;
}


.input_name {
	width: 80%;
	height: .7rem;
	padding: 5px 7px;
	border-radius: 7px;
	border: 1px solid var(--input-border);
	margin-top: .3rem; }
.input_name:focus {
	outline: none;
	box-shadow: var(--boxshadow-blue) 0px 0px 7px 5px; }
.input_submit {
	border: 1.4px solid var(--bt-bg-blue);
	box-shadow: 0px 0px 5px 2px var(--boxshadow-blue);
	background-color: var(--bg-black-light);
	color: var(--font-light);
	width: 5rem;
	border-radius: 5px;
	padding-bottom: 3px;
	text-align: center;
	margin: auto; }
.input_submit:hover {
	border-color: var(--input-border-force);
	outline: 0;
	box-shadow: 0 0px 5px 2px var(--white);
	cursor: pointer; }

.creataccount {
	color: var(--bg-blue); }

.Card_list {
    text-align: center;
	margin-left: 20%;
    padding: 1rem;
	width: 60%;
	background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	color: var(--font-light);
}
.Card {
    border: var(--boxshadow-white) solid 1px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: var(--boxshadow-white) 0px 0px 5px 2px;
	border-radius: 0.25rem;
    min-height: 12rem;
    width: 90%;
	max-width: 1000px;
}

.Card_header {
    position:relative;
    box-sizing: border-box;
    padding: 0.8rem;
    width: 100%;
    height: 48px;
    text-align: left;
}
.Card_image {
    position: absolute;
    border-radius: 10%;
    height: 32px;
    width: 32px;
    background-image: url(Image/png/Cat1_32.png);
    display: inline-block;
}
.Card_tittle {
    margin-left: 40px;
    display: inline-block;
    text-align: top;
    font-size: large;
    font-weight: 600;
    line-height: 32px;
}
.Card_share {
    float:right;
}



.Card_main {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1.2rem 0;
    text-align: left;
}



.Card_footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0.8rem;
    text-align: left;
    align-items: center;
}
.Card_button {
    height: 28px;
    border: 0px solid;
	border-radius: 0.3125rem;
	color: var(--font);
    background-color: var(--bt-bg-blue);
	
}
.Card_button:hover {
    cursor: pointer;
    background-color: var(--bt-bg-hover-blue);
}
.Card_button:focus {
    cursor: pointer;
    background-color: var(--bt-bg-hover-blue);
}

.Card_svg {
    position: relative;
    top: 2px;
    fill: var(--bg-gray)
}
.Card_voteup {  
    float: left;
    display: inline;
    margin-right: 5px;
}
.Card_font {
    display: inline;
    line-height: 2px;
    margin-right: 5px;
}
.Card_voteup_nums {
    display: inline;
}

.Card_votedown {
    float: left;
    margin-right: 10px;
}
.Card_comment {
    float: left;
    margin-right: 10px;
}
.Card_into {
    float: right;
}
























.CN_bei_an {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light);
}
.Github_link {
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light);
}
