:root {
	--test-font: #878EA6;
	--test-bg: #CDFFFE;

	--button-blue: #0055AA;
	--white: #FFFFFF;
	--black: #000000;
	--boxshadow-blue: #466886;
	--font-light: #BCC7EF;
	--font-blue: #0066ff;

	--link: #0166d6;
	--link-hover: #0100d6;
	--input-border: #d8dee2;
	--input-border-foucs: #66afe9;
	--input-submit: #2ea44f;
	--input-submit-hover: #379D49;
	--bg-black: #0c162d;
	--bg-black-light: #1c233c;
	--bg-gray: #f6f8fa;
	--bg-red: #ff1a1a;
	--bg-border: #eaecef;
	--bt-bg-blue: #2b67d6;
	--bt-bg-hover-blue: #47d637;

}

body {
	background-color: #070B21;
	background-image: url(Image/svg/glow.svg);
	background-size: 180%;
	background-position-x: -31.25rem;
	background-position-y: -10rem; }

a {
	color: var(--font-light);
	text-decoration: none; }
a:hover {
	color: var(--white);
	text-decoration: none; }
a:active {
	color: var(--white);
	text-decoration: none; }
a:visited {
	color: var(--white);
	text-decoration: none; }

@media screen and (min-width: 1441px) {
	.search {
		height: 5.5rem;
		font-size: 4.25rem;
	} }
@media screen and (max-width: 1440px) {
	.search {
		height: 3rem;
		font-size: 2rem;
	} }
@media screen and (max-width: 900px) {
	.search {
		height: 2rem;
		font-size: 1.5rem;
	} }
@media screen and (max-width: 500px) {
	.search {
		height: 1.5rem;
		font-size: 1rem;
	} }

.search {
	text-align: center; }
.search_input {
	width: 20rem;
	border: none;
	box-shadow: var(--boxshadow-blue) 0px 0px 7px 5px;
	border-radius: 0.25rem;
	padding: 0.2rem 0.5rem;
	outline: none; }
.search_input:focus {
	box-shadow: 0px 0px 5px 2px var(--white); }
.search_button {
	color: var(--white);
	background-color: var(--bg-black);
	border: none; }
.search_button:hover {
	cursor: pointer; }
.space {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem; }


.Header {
	margin:auto;
	height: 5rem;
	width: 100%;
	text-align: center;
    padding-top: 1rem;
	color: var(--font-light); }



#Follow_left_admission {
    animation: trans 0.6s linear;
    animation-fill-mode: forwards; }
@keyframes trans {
    from {
        transform: translate(-200%);
    }

    to {
        transform: translate(0);
    } }

.Follow_left {
	position: fixed;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 6rem;
	width: 12.5rem;
	background-color: var(--bg-black);
	color: var(--font-light);
	text-align: center;
	box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	overflow: hidden;
	z-index: 9;
	transition: height 1s; }
.Follow_left:hover {
	height: 26rem; }
.Follow_left_logo {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-image: url(Image/png/logo_64.png);
	margin: auto;
	overflow: hidden; }

#Login_fail {
    
}

#Login_success {
	display: none; }
.input_name {
	width: 80%;
	height: .7rem;
	padding: 5px 7px;
	border-radius: 7px;
	border: 1px solid var(--input-border);
	margin-top: .3rem; }
.input_name:focus {
	outline: none;
	box-shadow: var(--boxshadow-blue) 0px 0px 7px 5px; }
.input_submit {
	border: 1.4px solid var(--button-blue);
	box-shadow: 0px 0px 5px 2px var(--boxshadow-blue);
	background-color: var(--bg-black-light);
	color: var(--font-light);
	width: 5rem;
	border-radius: 5px;
	padding-bottom: 3px;
	text-align: center;
	margin: auto; }
.input_submit:hover {
	border-color: var(--input-border-force);
	outline: 0;
	box-shadow: 0 0px 5px 2px var(--white);
	cursor: pointer; }
.Yesterday {
	margin-top: 1rem;
	text-align: center; }
.Yesterday_num {
    color: var(--font-blue);
	text-align: center; }
.Before_yesterday {
	text-align: center; }
.Before_yesterday_num {
    color: var(--font-blue);
	text-align: center;
	margin-bottom: 4rem; }
.creataccount {
	color: var(--bg-blue); }

.Card_list {
    text-align: center;
    margin-top: 5%;
	margin-left: 20%;
    padding: 1rem;
	width: 60%;
	background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
	border-radius: 0.25rem;
	color: var(--font-light);
}
.Card {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    /*box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;*/
	border-radius: 0.25rem;
    height: 12rem;
    max-height: 16rem;
    width: 90%;
}




@media screen and (min-width: 1441px) {
	.Bottom {
		height: 35rem;
		font-size: 1.25rem;
	} }
@media screen and (max-width: 1440px) {
	.Bottom {
		height: 25rem;
		font-size: 2rem;
	} }
@media screen and (max-width: 900px) {
	.Bottom {
		height: 18rem;
		font-size: 1.5rem;
	} }
@media screen and (max-width: 500px) {
	.Bottom {
		height: 15rem;
		font-size: 1rem;
	} }

.Footer {
	margin:auto;
	margin-top: 3rem;
	height: 3rem;
	width: 30rem;
    padding-top: 2rem;
	color: var(--font); }
.Footer_font {
    padding: 1rem;
    height: auto;
    width: 100%;
    text-align: center;
    color: var(--font-light);
}
