@import "Resource/CSS/Color.css";

.Card-list {
    position: relative;
    z-index: 100;
    text-align: center;
    margin-left: 20%;
    padding: 1rem;
    width: 60%;
    background-color: var(--bg-black-light);
    box-shadow: var(--boxshadow-blue) 0px 0px 5px 2px;
    border-radius: 0.25rem;
    color: var(--font-light);
}

.Card {
    border: var(--boxshadow-white) solid 1px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: var(--boxshadow-white) 0px 0px 5px 2px;
    border-radius: 0.25rem;
    min-height: 6rem;
    width: 90%;
    max-width: 1000px;
}

.Card-header {
    position: relative;
    box-sizing: border-box;
    padding: 0.8rem;
    width: 100%;
    height: 48px;
    text-align: left;
}

.Card-image {
    position: absolute;
    border-radius: 10%;
    height: 32px;
    width: 32px;
    background-image: url(../Image/png/Cat1_32.png);
    display: inline-block;
}

.Card-tittle {
    margin-left: 40px;
    display: inline-block;
    text-align: top;
    font-size: large;
    font-weight: 600;
    line-height: 32px;
}

.Card-share {
    float: right;
}

.Card-main {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1.2rem 0;
    text-align: left;
}

.Card-footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0.8rem;
    text-align: left;
    align-items: center;
}

.Card-button {
    height: 28px;
    border: 0px solid;
    border-radius: 0.3125rem;
    color: var(--font);
    background-color: var(--bt-bg-blue);
}

.Card-button:hover {
    cursor: pointer;
    background-color: var(--bt-bg-hover-blue);
}

.Card-button:focus {
    cursor: pointer;
    background-color: var(--bt-bg-hover-blue);
}

.Card-svg {
    position: relative;
    top: 2px;
    fill: var(--bg-white)
}

.Card-voteup {
    float: left;
    display: inline;
    margin-right: 5px;
}

.Card-font {
    display: inline;
    line-height: 2px;
    margin-right: 5px;
}

.Card-voteup-nums {
    display: inline;
}

.Card-votedown {
    float: left;
    margin-right: 10px;
}

.Card-comment {
    float: left;
    margin-right: 10px;
}

.Card-into {
    float: right;
}